.cabecera {
    display: flex; /* Activa Flexbox */
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    justify-content: center;
    padding: 50px;
    background-color: #f0f0f0; /* Cambia el color de fondo si quieres */
    margin-bottom: 0;
}

.foto_perfil {
    margin-right: 30px; /* Espacio entre la foto y el texto */
}

.foto_perfil img {
    width: 160px; /* Tamaño de la foto */
    height: 160px; /* Tamaño de la foto */
    border-radius: 50%; /* Hace la imagen circular */
    object-fit: cover; /* Ajusta la imagen dentro del contenedor */
}

.nom h1, .nom h2 {
    margin: 5px 0; /* Espaciado entre los títulos */
    color: #333; /* Color del texto */
}

.nom h1 {
    font-size: 55px; /* Tamaño del nombre */
    font-weight: bold;
}

.nom h2 {
    font-size: 40px; /* Tamaño de los subtítulos */
    font-weight: normal;
    color: #3d2b8a; /* Color para el subtítulo */
}

.contingut {
    display: flex;
    justify-content: space-between;
}

.cont_esquerra {
    width: 40%;
    background-color: #e0e0e0;
    padding: 20px;
}

.cont_dreta {
    width: 60%;
    background-color: #d0d0d0;
    padding: 20px;
}

.contingut h3{
    display: flex; /* Activa Flexbox */
    justify-content: center;
    margin: 0;
    padding-top: 5px;
    font-size: 30px; /* Tamaño de los subtítulos */
    color: #3d2b8a; /* Color para el subtítulo */
    margin-bottom: 0;
}

/* Estilo para la línea horizontal */
.contingut hr {
    width: 100%;
    border: 0;
    border-top: 2px solid #333; /* Cambia el color y grosor según necesites */
    margin: 10px 0; /* Espacio arriba y abajo de la línea */
}

.cont_esquerra img{
    margin-bottom: 5px;
    width: 30px; /* Tamaño pequeño de la foto */
    height: 30px; /* Tamaño pequeño de la foto */
}

/* Barra de progreso (el contorno) */
.progress-bar {
    width: 100%;
    height: 30px; /* Altura de la barra */
    background-color: #e0e0e0; /* Color de fondo de la barra */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 10px; /* Espacio entre las barras */
}

/* Parte de la barra que representa el progreso */
.progress {
    height: 55%;
    background-color: #182441; /* Color del progreso (verde en este caso) */
    border-radius: 2px; /* Bordes redondeados */
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; /* Para permitir que el contenido fluya en pantallas pequeñas */
}

.texte_perfil {
    margin: 10;
    font-size: 1rem;
    font-size: 16px;
    color: #555;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; /* Para permitir que el contenido fluya en pantallas pequeñas */
}

.skills p{
    margin-top: 0;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    color: #333;
}

.nivells_skills {
    width: 90%;
    margin: 0 auto;
}

.idiomes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; /* Para permitir que el contenido fluya en pantallas pequeñas */
}

.idiomes p{
    margin-top: 0;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    color: #333;
}

.nivells_idiomes {
    width: 90%;
    margin: 0 auto;
}

.cont_dreta img{
    display: flex;
    justify-content: bottom;
    width: 30px; /* Tamaño pequeño de la foto */
    height: 30px; /* Tamaño pequeño de la foto */
}

.introduccio{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; /* Para permitir que el contenido fluya en pantallas pequeñas */
}

.formacio{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; /* Para permitir que el contenido fluya en pantallas pequeñas */
}

.experiencia{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; /* Para permitir que el contenido fluya en pantallas pequeñas */
}
 
.texte_intro{
    margin: 10;
    font-size: 1rem;
    font-size: 16px;
    color: #555;
}

.texte_formacio{
    margin: 10;
    font-size: 1rem;
    font-size: 16px;
    color: #555;
}

.texte_exp{
    margin: 10;
    font-size: 1rem;
    font-size: 16px;
    color: #555;
}

.exemples_form hr{
    width: 100%;
    border: 0;
    border-top: 1px solid #333; /* Cambia el color y grosor según necesites */
    margin: 1px 0; /* Espacio arriba y abajo de la línea */
}

.exemples_exp hr{
    width: 100%;
    border: 0;
    border-top: 1px solid #333; /* Cambia el color y grosor según necesites */
    margin: 1px 0; /* Espacio arriba y abajo de la línea */
}